<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742685023332-87v59fmfbsk60pnlgfe48fio5afd3in8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742685023332-87v59fmfbsk60pnlgfe48fio5afd3in8</string>
	<key>API_KEY</key>
	<string>AIzaSyA2btdrZ4_JrwCbtVkI1hIlqF9F3SsdFPg</string>
	<key>GCM_SENDER_ID</key>
	<string>742685023332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-tup-app3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-tup-app3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742685023332:ios:0f4d249c84fb5dbbf99371</string>
</dict>
</plist>